SESS_NAME=session
SESS_SECRET=da$ecret
SESS_LIFETIME=80000000000
JWT_EXPIRATION_IN='1d'
JWT_SECRET=68d82579fb59ba7617080baa8199df188971da6e  #any random string
SERVER_BASE_URL=http://localhost
SERVER_PORT=4000
MONGO_URL_WITH_DB_NAME= # for example mongodb://0.0.0.0:27017/cnt-erp
MONGO_BASE_URL=  # for example mongodb://0.0.0.0:27017
NODE_ENV=production

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=





